* {
  margin: 0;
}
.app {
  background-color: #fafafa;
  height: 100vh;
}
.app__headerImage {
  object-fit: contain;
  height: 50px;

}
.app__header {
  position: sticky;
  top:0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.app__signUp {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app__postesLeft {
  margin-left: 20px;
}